@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* This CSS is for universal application */
*{
  margin: 0;
  padding: 0;
}

.sidebar{
  position: absolute;
  background-color: grey;
  /* width: 250px; */
  height: 100vh;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: transform 0.3sec ease-in;
} 

.sidebar nav{
  padding: 40px;
}

.sidebar nav li{
  list-style: none;
  font-size: 25px;
  padding: 40px 0px;
}

.sidebar nav li a{
  text-decoration: none;
  color: black;
}


/* This CSS is for home page */
.main{
  width:90vw;
  height: 100vh;
}

.container{
  display: flex;
}

.infoContainer, .contactform{
  /* background-color: rgb(186, 185, 185); */
  height: 500px;
  width: 80vw;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.devInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.intro{
  font-size: 75px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.name{
  font-size: 60px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.about{
  margin: 10px;
  font-size: 25px;
  font-family: "Anta", sans-serif;
  font-weight: 50;
  font-style: normal;
}

.btn{
  margin: 10px 30px;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 25px;
  color: blanchedalmond;
  background-color: rgb(84, 83, 83);
}

.btn:hover{
  color: rgb(84, 83, 83);
  background-color:  blanchedalmond;
  cursor: pointer;
}


/* This CSS is for contact me form */
#myForm{
  padding: 15px 0px;
  margin: 15px 0px;
  height: 450px;
  width: 70vw;
  background-color: rgb(186, 185, 185);
}

/* .contactform{
  padding: 100px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */

.contactform h1{
  /* padding: 100px;
  margin: 100px; */
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.contactform form div{
  margin: 0px 30px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.contactform form div input{
  width: 330px;
  border-radius: 6px;
  margin: 6px 0;
}

#emailHelp{
  margin: 0px;
  padding: 0px;
  font-size: 9px;
  color: brown;
}

#form-check{
  display: flex;
  flex-direction: row;
}

#isclient{
  width: 25px;
}

.sidebarGo{
  transform: translate(-255px, 0px);
  position: absolute;
}
.icon{
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}

.cross{
  margin-left: 160px
}

/* My Intro */
.containMyInfo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.myInfo{
  margin: 80px 250px;
  padding: 0px 130px;
  color: brown;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.aboutMe{
  margin: 0px 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aboutMe h3{
  text-align: center;
  font-size: 27px;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.aboutMe li{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Vlogs */
.linkContainer {
  display: flex;
  justify-content: center;
}

#ytlink{
  margin: 85px 0px;
  border: none;
  border-radius: 25px;
}

#iframe{
  margin: 175px 20px;
  padding: 25px 15px;
}

/* Responsiveness */
@media (max-width: 1250px) {
  /* *{
    background-color: red;
  } */
  .devPic{
    display: none;
  }
  .contactform form div input{
    width: unset;
  }
}

